.app-wrapper{
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap:10px;
    grid-template-areas: 
    "header header"
    "navigation main-cont";
    width: 1200px;
    
}


.app-wrapper-content{
    grid-area: main-cont;
    background-color:blueviolet;
}




